<% provide(:title, 'All users') %>
<h1>All users</h1>

<!-- will_paginate to paginate list items.  Other things appear on all pages-->
<!-- requires use to use User.paginate(page: params[:page]) in controller-->
<%= will_paginate %> 

<ul class="users">
 <!-- <% @users.each do |user| %> -->
  <!-- this is refactured from the below which had "<=%" to be clear
      <li>
      <= gravatar_for user, size: 50 %>
      <= link_to user.name, user %>
    </li>
    -->
     <!-- this tells rails to look for _user.html.erb in the user views
     <% render user %>
    -->
<!--  <% end %>
</ul> -->

<!--Rails magic where Rails automatically realizes @users is a list of user objects
  and iterates over them, using _user.html.erb partial for display-->
<ul class="users">
  <%= render @users %>
</ul>


<!-- included as a second menu to switch pages with -->
<%= will_paginate %> 